.active {
    font-size: 23px;
  color: rgb(87, 179, 215)!important;
}
.navbar-brand{
    font-size: 40px;
    color: rgb(87, 179, 215);
}
.d-flex{
    gap: 30px;
}
.navbar-nav{
    margin-left: 50px;
}
.logo{
    width: 50px;
}
.btn{
    color: rgb(87, 179, 215);
}